<!-- <p class="test">
  Sum: {{CalcSum()}}
</p>

<div  *ngIf="sum>40">
  Sum Bigger 
</div>

<div  *ngIf="sum<40">
  Sum Smaller
</div>

<div *ngFor="let num of arr">
  the num is: {{num}}
</div> -->


<!-- <button type="button" class="btn btn-primary" (click)="buttonClicked(1)">Red</button>
<button type="button" class="btn btn-primary" (click)="buttonClicked(2)">Blue</button>
<button type="button" class="btn btn-primary" (click)="buttonClicked(3)">Red+Blue</button>

<div class="box1" *ngIf="color==1 || color==3" >

</div>

<div class="box2" *ngIf="color==2 || color==3">

</div> -->


<div *ngFor="let obj of users" class="card row col-3" style="width: 18rem;">
  <div class="card-body">
  <h5 class="card-title">{{obj.name}}</h5>
  <p class="card-text">{{obj.mail}}</p>
  
  </div>
</div>


