<div class="row">
  <div *ngFor="let user of users" class="card" style="width: 18rem;">    
    <div class="card-body">
      <h5 class="card-title">{{user.name}}</h5>
      <p class="card-text">{{user.mail}}</p>
    </div>
  </div>
</div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Mail</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users let i = index">
        <th scope="row">{{i}}</th>
        <td>{{user.name}}</td>
        <td>{{user.mail}}</td>
      </tr>
     
    </tbody>
  </table>

