<h1>
  MY FAVOURITE PRODUCTS
</h1>
<div class="container">
<div class="row">
    
  <div *ngFor="let item of favProdArray">
      <div class="card" style="width: 18rem;">   
          <img src="http://mystor.co.il/php/{{item.image}}" class="card-img-top"/>  
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">Price: {{item.new_price}} ₪</p>
            <div class="row">
            <div class="col-4 offset-2">
            <button type="button" class="btn btn-primary" (click)="addProduct()">Add</button>
          </div>
          <div class="col-4 offset-2">
            <button type="button" class="btn btn-danger" (click)="deleteProduct()">Delete</button>
          </div>
          </div>
          </div>
        </div>
  </div>
</div>
</div>